#navbar {
  /* border: 1px solid royalblue; */
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
  background-color: #9acd32;
}
#navbar > div {
  display: flex;
  list-style: none;
}
#navbar a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin-left: 100px;
}
